*{ 
    margin: 0px
}

:root{
    --principal: bisque;
    --secundaria: rgb(247, 221, 199);
}

body{
    background-color: var(--secundaria);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    background-color:var(--secundaria);
}

.header{   
    height: 200px;
    width: 100%;
    text-align: left;
    background-color: rgb(58, 56, 69);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto{
    width: 150px;
    border-radius: 200px;
    margin-top: 7px;
}

.textos{
    display: block;
    margin: 60px;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(202, 164, 135);
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.cargo{  
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(202, 164, 135);
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.menu ul{
    height: 50px;
    background-color:rgb(198, 155, 123);
    padding:0px;
    margin: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul li{
    display: inline;
}

.menu ul li a{
    padding: 5px 20px;
    display: inline-block;

    background-color:rgb(198, 155, 123);
    color: rgb(58, 56, 69);
    text-decoration: none;
    border-bottom: 3px solid rgb(58, 56, 69);
    font-size: 20px;
}

.menu ul li a:hover{
       color:rgb(58, 56, 69);
       background-color:rgb(255, 251, 233);
       border-bottom: 3px solid rgb(255, 251, 233);
}

h3{
    margin-top: 40px;
    max-width: 600px;
    color: rgb(30, 29, 34);
    font-size: 30px;
    text-align: flex;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

h4{
    margin-top: 15px;
    color: rgb(30, 29, 34);
    max-width: 175px;
    border-bottom: 3px double rgb(30, 29, 34);
    font-size: 16px;
    text-align: flex;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

h5{
    margin-top: 15px;
    color: rgb(30, 29, 34);
    max-width: 125px;
    border-bottom: 3px double rgb(30, 29, 34);
    font-size: 16px;
    text-align: flex;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.main{
    background-color:rgb(247, 221, 199);
    display: block;
    max-width: 650px;
    min-height: 500px;
    margin: auto;
    flex: 1;
}

.main p{    
    margin-top: 20px;
    max-width: 800px;
    color: rgb(30, 29, 34);
    text-align: flex;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer{
    height: 50px;
    background-color:rgb(130, 111, 102);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(72, 52, 52);
    font-size: 12px;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}
