*{ margin: 0px}

:root{
    --principal: bisque;
    --secundaria: #F0EAD1; 
}

.container{
    background-color:var(--secundaria);
}

.header{ 
      height: 250px;
      text-align: left;
      margin: 25px;
      display: inline-flex;
}

.textos{
    display: block;
    margin: 60px;
}

.foto{
    border-radius: 200px;
    margin-top: 30px;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #675E22;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.cargo{  
    display: flex;
    align-items: center;
    justify-content: center;
    color: #675E22;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

img{
    border-radius: 20%;
}

.menu ul{
    height: 50px;
    background-color: #B09A3B;
    padding:0px;
    margin: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul li{
    display: inline;
}

.menu ul li a{

    padding: 5px 10px;
    display: inline-block;

    background-color: #B09A3B;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid white;
    font-size: 20px;
}

.menu ul li a:hover{
       color:#B09A3B;
       background-color:white ;
       border-bottom: 3px solid white;
}

h3{
    margin-top: 20px;
    max-width: 600px;
    color: #675E22;
    font-size: 30px;
    text-align: flex;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

h4{
    margin-top: 15px;
    color: #675E22;
    max-width: 175px;
    border-bottom: 3px double #675E22;
    font-size: 16px;
    text-align: flex;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

h5{
    margin-top: 15px;
    color: #675E22;
    max-width: 125px;
    border-bottom: 3px double #675E22;
    font-size: 16px;
    text-align: flex;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}



.main{
    background-color:#F0EAD1;
    height: 450px;
    display: block;
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.main p{    
    margin-top: 20px;
    max-width: 800px;
    color: #675E22;
    text-align: flex;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer{
    background-color:#D4BB7D;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #675E22;
    font-size: 12px;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}